[url "ssh://git@github.com/varnish"]
	insteadOf = https://github.com/varnish
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	email = erik@tedfeltlennstrom.se
	name = Erik Lennström
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
